<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Pagina mia solo mia >:v </title>
     <link rel="stylesheet" href="../../css/style.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body class="body">
        <div class="caja" align="center"> 
        <header class="header"> 
            <h1> Soy el header bien sexy </h1> 
        </header>
        <banner class="banner"> 
            <br>
        </banner>
        <main class="main"> 
            <div class="mosqueteros">  
            <div class="cajita"> 
            <h1 > Frutiger aero </h1> 
            <button class="enProceso">  <p> Ver Frutiger aero </p>  </button>
            </div>
            <div class="cajita"> 
            <h1 > Ben 10 </h1> 
            <button class="enProceso">  <p> Ver Ben 10 </p>  </button>
            </div>
            <div class="cajita"> 
            <h1 > Creepypastas </h1>
            <button class="enProceso">  <p> Ver Creepypastas </p>  </button>
            </div>
            <div class="cajita"> 
            <h1 > Gatos </h1> 
            <button id="nyancat">  <p> Ver gatetes </p>  </button>
            </div>
          
           </div>
            <button> <a href="/cargaimagen"> <p> ¿Quieres subir una imagen? </p> </a> </button>
            <br> <br>
            <button> <a href="/"> <p> Actualizar </p> </a> </button>
            <br>
            <br>
            <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ?si=OtmDEAu4Mdy72v-y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </main>
        <footer class="footer">  
            <h2> soy el footer </h2>
        </footer>
    </div>
    <script src="/js/script.js"> </script>
    </body>
</html>