<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Nostalgia </title>
     <link rel="stylesheet" href="../../css/nostalgia/frutiger.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://kit.fontawesome.com/8d5432346c.js" crossorigin="anonymous"></script>
    </head>
    <body class="bodydos">
        <div class="caja" align="center"> 
        <header class="header"> 
            <h1> Páginas relacionadas con la nostalgia de admin :p </h1> 
        </header>
        <banner class="bannerDos"> 
            <br> 
        </banner>
        <main class="main"> 
            <h1> ewe</h1>
            <button class="button-1"><a href="/nostalgia" style="color:#FFFFFF">  regresar a la pagina principal </a></button>
        </main>
        <br><br>
        <footer class="footer">  
            <h2> Keep walking </h2>
        </footer>
    </div>
    <script src="/js/scriptNostalgia.js"> </script>
    </body>
</html>