<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Nostalgia </title>
     <link rel="stylesheet" href="../../css/nostalgia/nostalgia.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://kit.fontawesome.com/8d5432346c.js" crossorigin="anonymous"></script>
    </head>
    <body class="bodydos">
        <div class="caja" align="center"> 
        <header class="header"> 
            <h1> Páginas relacionadas con la nostalgia de admin :p </h1> 
        </header>
        <banner class="bannerDos"> 
            <br> 
        </banner>
        <main class="main"> 
            <h1> Elige una opción</h1>
            <div class="mosqueteros">  
                <div class="cajita"> 
                <h1 > Frutiger aero </h1> 
                <button id="Frutiger">  <p> Ver Frutiger aero </p>  </button>
                </div>
                <div class="cajita">  
                <h1 > Old internet </h1> 
                <button id="web">  <p> Ver old internet</p>  </button>
                </div>
                <div class="cajita"> 
                <h1 > OldBr core </h1>
                <button id="brother">  <p> Ver Older Brother core </p>  </button>
                </div>
                <div class="cajita"> 
                    <h1 > Ps1core? </h1>
                    <button class="enProceso">  <p> Ver Ps1core? </p>  </button>
                    </div>
            </div>
            <button class="button-1"><a href="/" style="color:#FFFFFF">  regresar a la pagina principal </a></button>
        </main>
        <br><br>
        <footer class="footer">  
            <h2> Keep walking </h2>
        </footer>
    </div>
    <script src="/js/scriptNostalgia.js"> </script>
    </body>
</html>