<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Carga imagen ma boy </title>
    <link rel="stylesheet" href="../../css/nostalgia/web.css" >
    </head>
    <body class="bodydos">
        <div class="caja" align="center"> 
        <header class="header"> 
            <h1> Memes naranjas </h1> 
        </header>
        <banner class="bannerTres"> 
            <br> 
        </banner>
        <main class="main"> 
            <h1> Acá puedes subir tus memes y fanarts de nuestra deidad: LA NARANJA MOLESTA </h1>
            <form action="/webMeme" method="post" enctype="multipart/form-data" id="webMeme"> 
                <div>
                    <input type="file" name="imagen">
                <br><br>
                <button type="submit" class="boton"> subir imagen </button>
                </div>
            </form>
            <br><br>
            <button style="background-color:orangered"><a href="/oldInternet" style="color:#FFFFFF">  regresar a la pagina principal </a></button>
        </main>
        <footer class="footer">  
            <h2> :P </h2>
        </footer>
    </div>
    </body>
</html>